<h1>Welcome to ChemFinder!</h1>
<p>This app should prove helpful in keeping an online library of the available chemicals in the lab, and hopefully to serve as a resource for future tracking and requesting of necessary chemicals as well.</p>
<%= link_to "Chemicals", chemicals_path %><br />
<%= link_to "Functional Groups", fgroups_path %>
