<h1>Welcome to ChemFinder!</h1>
<p>This app should prove helpful in keeping an online library of the available chemicals in the lab, and hopefully to serve as a resource for future tracking and requesting of necessary chemicals as well.</p>
<%= link_to "Go to chemicals", chemicals_path %>
<%= link_to "See Functional Groups", fgroups_path %>
